@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Migra Regular";
    src: url("/fonts/Migra-Regular.woff2");
    font-display: swap;

}

html,
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Migra Regular', serif;
    scroll-behavior: smooth;
    letter-spacing: 1px;
}

section {
    max-width: 600px;
    margin: 0 auto;
}

p {
    font-size: 18px;
    margin: 1rem auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Migra Regular', sans-serif;
    text-align: center;
    font-weight: 500;
}

h5 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 24px;
    margin: 1rem auto;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.flower-wrapper {
    position: fixed;

    &.bot {
        bottom: 0;
        left: 1rem;
    }

    &.top {
        top: 0;
        right: 1rem;
    }
}

.flower-image {
    width: 150px;
}


@media screen and (max-width: 1280px) {
    .flower-wrapper {
        z-index: -1;
        opacity: 0.3;

        &.top {
            top: -4rem;
            right: -1rem;
        }

        &.bot {
            bottom: -3rem;
            left: -3rem;
        }
    }

    section {
        padding: 0 2rem;
    }
}

.info-title {
    font-size: 24px;
    font-family: 'Migra Regular', sans-serif;
    margin: 1rem 0;
    text-align: center;
}

/* a {
    font-weight: 700;
    color: rgb(48, 48, 48);
    font-style: italic;

    &:hover {
        text-decoration: none;
    }

    &:visited {
        color: rgb(48, 48, 48);
    }
} */

a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}

input[type=text], input[type=email], input[type=password] {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
}

label {
    @apply block text-gray-700 text-sm font-bold mb-2
}