
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Migra Regular";
    src: url("/fonts/Migra-Regular.ttf");
    font-display: block; /* Fix flickering */

    
}
@font-face {
    font-family: "Petit Formal Script";
    src: url("/fonts/PetitFormalScript-Regular.ttf");
    font-display: block; /* Fix flickering */

}
html,
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Migra Regular', serif;
    scroll-behavior: smooth;
    text-rendering: auto;
    font-smooth: auto;


    letter-spacing: 1px;
    line-height: 1.5;
}

section {
    max-width: 600px;
    margin: 0 auto;
}

p {
    font-size: 18px;
    margin: 1rem auto;
}

h1 {
    font-family: 'Migra Regular', serif;
    text-align: center;
    font-weight: 500;
}


h2,
h3,
h4,
h5 {
    font-family: 'Petit Formal Script', cursive;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0;
}



h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
    margin-bottom: 1rem;
}

.flower-wrapper {
    position: fixed;

    &.bot {
        bottom: 0;
        left: 1rem;
    }

    &.top {
        top: 0;
        right: 1rem;
    }
}

.flower-image {
    &.top {
        height: 439px;
    }
    &.bot {
        height: 334px;
    }
}


@media screen and (max-width: 1280px) {
    .flower-wrapper {
        z-index: -1;
        opacity: 0.3;

        &.top {
            top: -4rem;
            right: -1rem;
        }

        &.bot {
            bottom: -3rem;
            left: -3rem;
        }
    }

    section {
        padding: 0 2rem;
    }
}

.info-title {
    font-size: 24px;
    font-family: 'Migra Regular', sans-serif;
    margin: 1rem 0;
    text-align: center;
}

/* a {
    font-weight: 700;
    color: rgb(48, 48, 48);
    font-style: italic;

    &:hover {
        text-decoration: none;
    }

    &:visited {
        color: rgb(48, 48, 48);
    }
} */

a {
    @apply  text-black hover:text-gray-500 underline visited:text-black
}

input[type=text], input[type=email], input[type=password] {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight
}

label {
    @apply block text-gray-700 text-sm font-bold mb-2
}

.grid {
    font-size:16px;
}